<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xt.mapper.UserUserMapper" >


    <sql id="User_Column_List" >
        id, nickname, password, avatar, create_time
    </sql>

    <sql id="UserUser_Column_List" >
        a_id, b_id, create_time
    </sql>

    <insert id="add" parameterType="UserUser" >
            INSERT INTO user_user
            (a_id, b_id)
            VALUES
            (#{aId,jdbcType=BIGINT},#{bId,jdbcType=BIGINT})
    </insert>




    <delete id="remove" parameterType="UserUser">
        DELETE FROM user
        WHERE
        a_id=#{aId,jdbcType=BIGINT} AND b_id=#{bId, jdbcType=BIGINT}
    </delete>



    <select id="findAllFriends" parameterType="Long" resultType="User" >
       SELECT
       u.id, u.nickname, u.password, u.avatar, u.create_time
	   FROM user u, user_user uu
	   WHERE (uu.a_id=#{value,jdbcType=BIGINT} AND uu.b_id = u.id) OR (uu.b_id=#{value,jdbcType=BIGINT} AND uu.a_id = u.id)
    </select>



</mapper>